@using  Voupon.Merchant.WebApp.Services.SignUp.Commands.Create;
@{
    ViewData["Title"] = "Home Page";
}
@using  Voupon.Merchant.WebApp.Services.SignUp.Page
@model SetupPasswordPageViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration

@if (Model.UserId.HasValue)
{
    <div class="alert alert-warning">This account is already verified. Please login to continue</div>
    <a href="/login">Login now</a>
}
else
{
    if (!Model.TACVerifiedAt.HasValue)
    {
        <div class="alert alert-warning">This account is not yet verified. Please setup your account first to continue</div>
        <a href="/signup/verify-tac/@Model.Id">Verify account now</a>
    }
    else
    {
        <html>
        <body>
            <div class="row no-gutter">
                <!-- The image half -->
                <div class="col-md-6 d-none d-md-flex bg-image">
                    <div class="description">
                        <p>
                            Expose your business to 17 million Malaysian online media consumers from our combined network of online publishers at no upfront cost.
                        </p>
                    </div>
                    <div class="media-partners">
                        <img src="~/Images/Media Prima.png" />
                        <img src="~/Images/astro.png" />
                        <img src="~/Images/star-group-logo.png" />
                        <img src="~/Images/sinchew-group-logo.png" />
                    </div>
                </div>

                <div class="col-md-6 bg-light">
                    <div class="login d-flex">
                        <div class="container">
                            <div class="merchant-register-back"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;<strong>Back</strong></div>
                            <div class="row container-row">
                                <div class="col-lg-12 form-container">
                                    <h1>Secure your account​</h1>
                                    <br />
                                    <form id="createPasswordForm" class="selected" name="createPasswordForm" method="post">
                                        @Html.AntiForgeryToken()
                                        <input hidden asp-for="Email" name="Email" id="Email" class="form-control" type="email" value="@Model.Email" />
                                        <input hidden asp-for="Id" name="Id" id="Id" class="form-control" value="@Model.Id" />
                                        <p class="mt-2">
                                            Your password must contain at least 8 characters, 
                                            an uppercase, lowercase, number and special character.
                                        </p>
                                        <div class="form-group">
                                            <input asp-for="Password" type="password" id="Password" name="Password" class="form-control" placeholder="Enter Password" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="Re-enter Password" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <div class="row dont-have-account">
                                            <div class="col-12">
                                                <button type="submit" id="btnCreate" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Create</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
    @*<form id="createPasswordForm" name="createPasswordForm">
            @Html.AntiForgeryToken()
            <input hidden asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="BusinessName" class="control-label"><strong>@Model.BusinessName</strong></label>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" id="btnCreate">Create</button>
        </form>*@
}
}
<script src="~/lib/plugins/toastr/toastr.min.js"></script>
<link rel="stylesheet" href="~/lib/plugins/toastr/toastr.min.css" />


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        toastr.options.fadeOut = 3000;
        $(function () {
            $(".merchant-register-back").click(function (e) {
                window.history.back()
            });
            $("#btnCreate").click(function (e) {
                e.preventDefault();
                if ($("#createPasswordForm").valid()) {
                    $("#btnCreate").prop("disabled", true).text("Creating...");
                    $.post("/signup/setup-password/validate", $("#createPasswordForm").serialize())
                        .done(function (response) {
                            if (response.successful) {
                                toastr.success('Successfully created password');
                                $("#btnCreate").prop("disabled", false).text("Redirecting...");
                                location.href = response.data;// "/login";
                            }
                            else {
                                toastr.error(response.message);
                            }
                        })
                        .fail(function (response) {
                            if (response.status == 400) {
                                toastr.error(response.responseJSON.message);
                            }
                            $("#btnCreate").prop("disabled", false).text("Create");
                        });
                }
            });
        });
    </script>
}
