@model Voupon.Rewards.WebApp.Services.Profile.Page.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media (min-width: 1024px) {
        footer {
            display: none;
        }
    }
</style>
<div class="user-page">
    <div class="user-page-left-spacing">
    </div>
    <div class="user-page-right row">
        <form id="changePasswordForm" name="changePasswordForm">
            <div class="align-center mb-3">
                <h2>Update Password</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.OldPassword)
                        @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.NewPassword)
                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ConfirmPassword)
                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" id="btnUpdatePassword">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

    @section scripts
{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        @*<script src="@Url.Content("/Scripts/jquery.validate.min.js")"></script>
            <script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")"></script>*@
        <script>
        if ($(window).width() > 1023) {
            $("#profile-menu").addClass("widescreen-profile-menu");
            $("#page-wrapper").css("min-height", $(".widescreen-profile-menu").css("height"));
        }

        $(document).ready(function () {

            $("#btnUpdatePassword").on("click", function () {

                if ($("#changePasswordForm").valid()) {

                    $("#Email").removeAttr("disabled");
                    var data = $("#changePasswordForm").serialize();

                    toastr.warning("Loading...");
                    $.ajax({
                        global: false,
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        url: "@Url.Action("UpdatePassword", "Identity")",
                        success: function (response) {
                            console.log(response);
                            if (response.successful) {
                                toastr.success(response.message);
                                setTimeout(function () { document.location.href = "/"; }, 3000);
                            }
                            else {
                                toastr.clear();
                                toastr.error(response.message);
                            }
                            $(".toast-warning").remove();
                        },
                        error: function (res) {
                            toastr.clear();
                            toastr.error(res.responseText);
                            $(".toast-warning").remove();
                        }
                    });

                    $("#Email").attr("disabled", "");
                }
            });
        });

        </script>
    }
