@model Voupon.Rewards.WebApp.Services.Home.Models.ProductTestRegisterModel
@{
    ViewData["Title"] = "ProductTestRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-secondary {
        color: #fff;
        background-color: #ff407b;
        border-color: #ff407b;
    }

    .img-fluid {
        width: 70%;
        height: auto;
    }

    .container {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    #address {
        max-width: 500px;
    }

    .project-name-header {
        border-bottom: groove;
        border-color: #ad7fcd;
        width: fit-content;
        font-weight: 600;
    }

    .row.product-test-row {
        align-content: flex-start;
        max-width: 1200px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .register-form {
        padding: 0;
    }

        .register-form .row {
            margin-top: 30px;
        }

    #registerBtn {
        width: -webkit-fill-available;
        margin-right: 25%;
    }

    .succussfulMsg-div {
        text-align: -webkit-center;
        display: none;
        align-items: center;
        justify-content: center;
    }

    #succussfulMsg {
        color: green;
        max-width: 800px;
        margin-top: 10vh;
    }

        #succussfulMsg p {
            font-size: 22px;
        }
</style>
@*<h1>Product Test Register</h1>*@
@if (@Model.SurveyProjectStatus)
{
    @if (@Model.MasterMemberProfileId != 0 && @Model.IsParticipantEmail)
    {
        <div class="col-12 succussfulMsg-div">
            <div id="succussfulMsg">
                <h2>You have successfully registered for the @Model.SurveyProjectName.</h2>
                <p>
                    We will email you a link to complete the product test online survey when it is ready.
                </p>
            </div>
        </div>
        <div class="row product-test-row">
            <div class="col-lg-6">
                <h2 class="project-name-header">@Model.SurveyProjectName</h2>
                Welcome to Vodus product test registration page.
                <br /><br />


                If you are selected to participate in our product test, we will email you to inform you that you have been qualified and will deliver our product samples to your stated delivery address so that you can test our product samples at the comfort of your own home and time.
                <br /><br />


                During the test, you are required to complete our online survey to tell us what you think of the product you have tested. We will then email you your reward upon the completion of our test.
                <br /><br />


                Complete the following form to sign up for @Model.SurveyProjectName.
            </div>
            <div class="col-lg-6 register-form">
                <div class="row">
                    <div class="col-5">
                        <label>Survey start date:</label>
                    </div>
                    <div class="col-7">
                        <label>@Model.SurveyProjectStartDate.ToShortDateString()</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <label>Product Test Completion Reward: </label>
                    </div>
                    <div class="col-7">
                        <label> @Model.Reward</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <label class="i18next">Product Sample Delivery Address:</label>
                    </div>
                    <div class="col-7">
                        <textarea class="form-control" id="address">@Model.MasterMemberProfileAddress</textarea>
                    </div>
                </div>

                <div class="row align-center">
                    <div class="col-5">
                    </div>
                    <div class="col-7">
                        <button type="button" class="btn btn-primary" id="registerBtn"><span class="i18next" data-i18n="common.update">Register</span></button>
                    </div>

                </div>

            </div>
        </div>

    }
    else if (@Model.MasterMemberProfileId == 0)
    {
<div class="col-12 align-center">
    <div class="row align-content-center justify-center" style="margin-top: 10vh;">
            <h2 class="col-12 text-center">Please login to your Vodus account</h2>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary col-12" style="font-size: 24px;" id="LoginBtn"><span class="i18next" data-i18n="common.update">Log in</span></button>
    </div>
</div>
    }
    else
    {

        <div class="text-center">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="error-section">
                            <img src="/images/page404.png" alt="" class="img-fluid">
                            <div class="error-section-content">
                                <h1 class="display-3">Sorry</h1>
                                <p>
                                    This email is not qualified to do this test. Go back to our home page.
                                </p>
                                <a href="/" class="btn btn-secondary btn-lg">Back to homepage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a hidden href="https://pngtree.com/so/cry?sce=attr">cry png from pngtree.com</a>

    }
}
else
{
    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="error-section">
                        <img src="/images/page404.png" alt="" class="img-fluid">
                        <div class="error-section-content">
                            <h1 class="display-3">Sorry</h1>
                            <p>
                                This test is not available at the moment .
                            </p>
                            <a href="/" class="btn btn-secondary btn-lg">Back to homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a hidden href="https://pngtree.com/so/cry?sce=attr">cry png from pngtree.com</a>
}
<script>
    $(document).ready(function () {
        $("#LoginBtn").click(function () {

            $("#navLogin").click();
        })
        $("#registerBtn").click(function () {
            var address = $("#address").val();
            if (address == "") {
                toastr.error("please insert your address");
                return;
            }
            var url = window.location.pathname;
            var email = url.substring(url.lastIndexOf('/') + 1);
            $.ajax({
                url: '@Url.Action("RegisterParticipantForTest", "Home")',
                type: 'POST',
                data: { projectId: @Model.SurveyProjectId, address: address, email:email },
                success: function (response) {
                    if (response.successful) {
                        $(".succussfulMsg-div").css("display","flex");
                        $(".product-test-row").hide();
                        toastr.success(response.message);
                        console.log(response.code);
                        if (response.data != "") {

                        }
                    }
                    else {
                        toastr.clear();
                        if (response.code == -2) {
                            location.reload();
                        }
                        toastr.error(response.message);
                    }
                },
                error: function () {
                    toastr.error(response.message);
                }

            });
        });


    });
</script>